.login-page {
  width: 77.625rem;
  height: 100%;
  background: center bottom;
  position: relative;
  .login-bg {
    width: 77.625rem;
    overflow: hidden;
  
  }
  .login-form {
    // background: linear-gradient(to top, rgb(31, 31, 30), rgb(74, 74, 74));
    overflow: hidden;
    z-index: 0;
    position: absolute;
    top: 65.813rem;
    width: 72.552rem;
    padding: 0.1875rem;
    margin: 0px 2.55rem;
    border-radius: 2.25rem;
    margin-top: 5.438rem;
    .logo {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 22.25rem;
    }
    .fields {
      padding: 5.563rem 7.875rem 0;
    }

    .input-field {
      width: 56rem;
      background: #fff;
      border-radius: 2.25rem;
      height: 9.188rem;
      box-shadow: inset 0.094rem 0.162rem 0.188rem 0px rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.339rem;
      margin-bottom: 2.813rem;
      position: relative;
      .input-icon {
        position: absolute;
        left: 2.75rem;
        top: 50%;
        transform: translateY(-50%);
        width: 3.375rem;       
      }
      input {
        text-align: center;
        background: bottom;
        border: 0;
        color: #7a7a7a;
        font-size: 2.813rem;
        height: 100%;
        outline: none;
        padding: 0.25rem 0 0 0;
        margin-top: 0.188rem;
        font-family: 'SpoqaHanSansNeoMedium';
        letter-spacing: -0.025rem;
      }
    }
    .actions {
      button {
        border-radius: 5.75rem;
        background-image: linear-gradient(to right, rgb(223, 82, 255) 0%, rgb(107, 34, 255) 100%);
        box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.3);
        width: 57rem;
        height: 11.688rem;
        color: #fff;
        font-size: 3.188rem;
        font-family: 'SpoqaHanSansNeoMedium';
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        &.register {
          background-image: linear-gradient(to right, rgb(157, 59, 187) 0%, rgb(84, 35, 160) 100%);
        }
      }

      .line {
        width: 63.75rem;
        opacity: 0.302;
        height: 0.188rem;
        background: #7c54a1;
        margin: 4.5rem auto;
      }
    }
  }
}


