.login-page {
  width: 77.625rem;
  height: 163.813rem;
  background: center bottom;
  position: relative;
  overflow: hidden;

  .login-bg {
    width: 77.625rem;
    overflow: hidden;
  }

  .login-form {
    overflow: hidden;
    z-index: 0;
    position: absolute;
    top: 65.813rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 1.813rem 1.813rem;
    border-radius: 2.25rem;
    margin-top: 5.688rem;

    .logo {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 22.25rem;
    }

    .fields {
      padding: 5.563rem 7.813rem 0 8.875rem;
    }

    .input-field {
      width: 55.938rem;
      background: #fff;
      border-radius: 2.25rem;
      height: 9.188rem;
      box-shadow: 0.125rem 0.188rem 0.188rem 0px rgba(0, 0, 0, 0.5) inset;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2.813rem;
      position: relative;

      .input-icon {
        position: absolute;
        left: 2.75rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -0.25rem;
      }

      input {
        text-align: center;
        background: bottom;
        border: 0;
        color: #444;
        font-size: 2.813rem;
        height: 100%;
        outline: none;
        padding: 0.313rem 0 0 0;
        line-height: 1;
      }

      ::placeholder {
        color: #9da3b0;
      }

      &.username {
        input {
          margin-left: 0.25rem;

        }

        .input-icon {
          width: 3.313rem;
          margin-top: -0.313rem;
        }
      }

      &.password {
        margin-bottom: 3rem;

        input {
          margin-right: 0.063rem;
          padding-top: 0.188rem;
        }

        .input-icon {
          left: 3rem;
          width: 3rem;
          margin-top: -0.188rem;
        }
      }
    }

    .actions {
      button {
        border-radius: 5.75rem;
        background-image: linear-gradient(to right, rgb(223, 82, 255) 0%, rgb(107, 34, 255) 100%);
        box-shadow: 0 0.563rem 0.938rem 0 rgba(0, 0, 0, 0.3);
        width: 56.938rem;
        height: 11.563rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        p {
          color: #fff;
          font-size: 3.188rem;
          letter-spacing: -0.025em;
          // margin: 0.063rem 0 0;
          font-weight: bold;
        }

        &.register {
          background-image: linear-gradient(to right, rgb(157, 59, 187) 0%, rgb(84, 35, 160) 100%);

          p {
            margin-left: 0.125rem;
          }
        }
      }

      .line {
        width: 63.75rem;
        height: 0.188rem;
        background: #7853a0;
        margin: 4.438rem auto 4.625rem;
      }
    }
  }
}