.scroll-btn {
  position: fixed;
  bottom: 23.875rem;
  right: 1.875rem;
  border-radius: 2.125rem;
  width: 8.25rem;
  height: 8.25rem;
  background: rgba( 255,255,255,0.8);
  box-shadow: 0 0.625rem 0.938rem 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}
