.question-cell {
    width: 73.875rem;
    z-index: 10;
    padding: 2.66rem 0 2.3rem;
    border-radius: 2.8125rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    padding-right: 10rem;
    border: 1px solid #cb78e6;

    .q-down-arrow {
        position: absolute;
        // top: 0;
        right: 0;
    }

    .q-icon {
        width: 5.5rem;
        height: 5.0625rem;
        margin-left: 2.45rem;
    }

    .q-type {
        color: #ffffff;
        background: #702caa;
        font-size: 2.4375rem;
        font-weight: 700;
        padding: 0.45rem 1.8rem;
        width: fit-content;
        margin-bottom: 0.7rem;
        margin-left: 0.25rem;
        border-radius: 2rem;
    }

    .q-text {
        margin: 0;
        font-size: 2.625rem;
        line-height: 1.2;
        text-align: start;
        margin-top: 1.1rem;
        color: #444444;
        font-weight: 700;
        letter-spacing: -0.07rem;
        margin-left: 0.25rem;
    }
}

.opened-cell {
    // z-index: -1;
    position: relative;
    background: #ffffff;
    padding-left: 1.9rem;
    padding-right: 1.875rem;
    border-radius: 2.8125rem;
    padding-top: 6rem;
    padding-bottom: 4.625rem;
    color: #666666;
    letter-spacing: -0.07rem;
    font-size: 2.625rem;
    p {
        margin: 0;
        letter-spacing: -0.07rem;
        // margin-bottom: 1.5rem;

        line-height: 1.95;

    }
}

.no1 {
    color: #4a90f0;
    margin-right: 0.55rem;

}