.live-casino {
  margin-top: 2.313rem;
  .section__content {
    margin-top: 0.063rem;
  }
  .section__Title {
    .section__icon {
      margin-top: 0.125rem;
      img {
        margin-left: -0.188rem;
      }
    }
    h1 {
      margin-top: -0.125rem !important;
    }
  }
}
.live-section {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  margin-bottom: 1.75rem ;
  flex-wrap: wrap;
  .live-casino-card {
    width: 36rem;
    height: 24.563rem;
    border-radius: 1.125rem;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    //overflow: hidden;
    &:after {
      display: none;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 1.125rem;
      z-index: 4;
    }
    p {
      color: #eeeeee;
      font-size: 2.25rem;
      font-family: 'SpoqaHanSansNeo';
      position: absolute;
      top: 9.25rem;
      right: 1.688rem;
      margin: 0;
      letter-spacing: -.025em;
      &.coming-soon {
        top: 10rem;
      }
    }
    
    img.casino-img {
      width: 100%;
      height: 100%;
      border-radius: 1.125rem;
    }
    button {
      position: absolute;
      bottom: 2.813rem;
      right: 1.875rem;
      border-radius: 2rem;
      background: linear-gradient(to right, rgb(223, 82, 255), rgb(107, 34, 255));
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3); 
      color: #fff;
      font-size: 2rem;
      font-family: 'SpoqaHanSansNeoBold';
      width: 13.438rem;
      height: 4.125rem;
      z-index: 5;
      letter-spacing: -.025em;
      &.coming-soon-btn {
        background: linear-gradient(to right, rgb(126, 126, 126), rgb(75, 75, 75));
      }
    }
    .best-icon {
      position: absolute;
      left: -0.938rem;
      bottom: 0.813rem;
      width: 15.375rem;
      height: 5.375rem;
      z-index: 6;
    }
  }
  .live-casino-card:hover::after {
    display: block;
    content: '';
  }
}
.liveC-section {
  .section__Title {
    margin-left: 2px;
  }
}
.filter-content .liveC-section .section__Title  {
  margin-left: 0 !important;
}
