.live-casino {
  margin-top: 2.313rem;
  .section__content {
    margin-top: 0.063rem;
  }
  .section__header {
    margin: 3.875rem 1.438rem 1.438rem 1.813rem;
  }
  .section__Title {
    .section__icon {
      //margin-top: 0.125rem;
      img {
        margin-left: -0.125rem;
      }
    }
    h1 {
      margin-top: -0.313rem !important;
      margin-left: -0.313rem;
    }
  }
}

.live-section {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  margin-bottom: 1.75rem ;
  flex-wrap: wrap;
  .live-casino-card {
    width: 36rem;
    height: 24.563rem;
    border-radius: 1.125rem;
    box-shadow: 0 0.938rem 1.25rem 0 rgba(0, 0, 0, 0.5);
    position: relative;
    &.hover:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 1.125rem;
      z-index: 4;
    }
    p.title {
      color: #eeeeee;
      font-size: 2.25rem;
      font-family: 'SpoqaHanSansNeo';
      position: absolute;
      top: 9.25rem;
      right: 1.688rem;
      margin: 0;
      letter-spacing: -0.063rem;
      &.coming-soon {
        top: 10rem;
      }
    }
    
    img.casino-img {
      width: 100%;
      height: 100%;
      border-radius: 1.125rem;
    }
    button {
      position: absolute;
      bottom: 2.813rem;
      right: 1.875rem;
      border-radius: 2rem;
      background: linear-gradient(to right, rgb(223, 82, 255), rgb(107, 34, 255));
      box-shadow: 0 0 1.25rem 0.625rem rgba(0, 0, 0, 0.3); 
      width: 13.438rem;
      height: 4.125rem;
      z-index: 5;
      &.coming-soon-btn {
        background: linear-gradient(to right, rgb(126, 126, 126), rgb(75, 75, 75));
      }
      p {
        color: #fff;
        font-size: 2rem;
        font-family: 'SpoqaHanSansNeoBold';
        letter-spacing: -.025em;
        margin: 0;
        margin-top: 0.063rem;
        margin-right: 0.125rem;
      }
    }
    .best-icon {
      position: absolute;
      left: -0.938rem;
      bottom: 0.813rem;
      width: 15.375rem;
      height: 5.375rem;
      z-index: 6;
    }
  }
  .live-casino-card:hover::after {
    display: block;
    content: '';
  }
}
.liveC-section {
  .section__Title {
    margin-left: 0.125rem //2px;
  }
}
.filter-content .liveC-section .section__Title  {
  margin-left: 0 !important;
}
.filter-content.holdem-section .section__Title {
  margin-top: 1.063rem;
  .section__icon {
    width: 4.75rem !important;
    height: 5rem !important;
  }
  h1 {
    margin-left: 0.563rem !important;
  }
}