 .section__slider1 {}

 .ani-section {
   margin-bottom: 4.75rem;

   .section__content {
     padding: 0 1.813rem 0 1.875rem;
   }

   .carousel__inner-slide {
     display: flex;
     justify-content: center;
   }

   .ButtonBack {
     top: 19.875rem;
     left: 0.75rem
   }

   .ButtonNext {
     top: 19.875rem;
     right: 0.75rem
   }

   .tab-container {
     button {
       &:nth-of-type(2) {
         p {
           margin-left: 0.063rem;
         }
       }

       &:nth-of-type(3) {
         p {
           margin-left: 0.188rem;
         }
       }
     }
   }

   .carousel,
   .carousel__slider {
     height: 110%;
   }
 }

 .new-card {
   border-radius: 3rem;
   width: 73.875rem;
   height: 36.438rem;
   background-color: #fff;
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
   padding: 0.938rem 0.938rem;
   overflow: hidden;
   margin-top: 1.75rem;
 }

 .new-card-header {
   height: 6.938rem;
   border-radius: 2.625rem;
   width: 100%;
   background-image: linear-gradient(to right, rgb(157, 59, 187), rgb(84, 35, 160));
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2.25rem 0 2.063rem;
   letter-spacing: -.025em;
 }

 .card-header-title {
   display: flex;
   align-items: center;

   img {
     max-width: 3.75rem;
     margin-right: 1.313rem;
     margin-top: -0.125rem;
   }

   p {
     color: #fff;
     margin: 0;
     font-size: 2.813rem;
     margin-top: -0.25rem;
     font-weight: bold;
   }
 }

 .card-header-actions {
   p {
     color: #bfa4ff;
     font-size: 2.625rem;
     margin-right: 0.5rem;
     letter-spacing: -.025em;
   }
 }

 //!- to align AnnouncementCard & NoticeBoard rows
 .row-alignment {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: calc(100% - 6rem);
 }

 .new-card-content {
   //  padding: 2.625rem 2.75rem;
  //  padding: 1.5rem 2.75rem;
   padding: 2.75rem;
   // max-height: 100%;
   overflow: hidden;
    display: flex;
    gap: 0.5rem;
   flex-direction: column;
   

   //height: 551px;
   .board-item {
      height: 4.5rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     //  margin-bottom: 1.75rem;

     img {
       width: 2.438rem;
       padding-bottom: .4rem;
       object-fit: contain;
     }

     p {
       color: #666666;
       height: 100%;
       line-height: 4.5rem;
       font-size: 2.625rem;
       vertical-align: bottom;
       margin: 0;
       // width: 70%;
        // padding-top: .2rem;
       max-width: 91%;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
       flex-shrink: 0;
       margin-left: 1.75rem;
       margin-right: .75rem;
       letter-spacing: -.025em;
     }

     .left-side {
       display: flex;
       width: 100%;
     }

     .right-side {
        height: 4.5rem;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       gap: 0rem;
       flex-shrink: 0;
       //  max-width: 30%;

       img {
        width: 2.438rem;
        padding-bottom: .4rem;
        object-fit: contain;
       }

       p {
        height: 100%;
        line-height: 4.4rem;
        font-size: 2.625rem;
        vertical-align: bottom;
         color: #666666;
         margin-bottom: .5rem;
         margin-left: 1rem;
         max-width: 15rem;
         width: auto;
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
       }
     }
   }


 }

 .notice-board {
   .board-item {
     p {
       width: 69%;
       max-width: 70%;
       margin-right: 0;
       letter-spacing: -.025em;
     }
   }
 }

 .currency-exchange {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1.75rem;
   overflow: hidden;
   height: 3.8rem;

   .left-side {
     display: flex;
     align-items: flex-end;
     margin-left: 1rem;

     .count {
       width: 4.125rem;
       //height: 25px;
       display: flex;
       align-items: center;
       justify-content: center;

       img {
         width: 100%;
       }

       span {
        height: 3.1rem;
         display: flex;
         color: #666666;
         font-size: 2.625rem;
         margin: 0;

       }
     }

   }

   .text-red {
     color: #c03a41;
   }

   img {
     width: 2.438rem;
   }

   p {
     color: #666666;
     font-size: 2.625rem;
     margin: 0;
     max-width: 100%;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     flex-shrink: 0;
     margin-right: .75rem;
     margin-left: 1.75rem;
   }

  //  .text-normal {
  //    padding-bottom: 1.5rem;
  //  }
 }

 .currency-exchange-wrapper {
   -webkit-animation: slide 18s linear infinite;
   animation: slide 18s linear infinite;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;
   position: relative;

 }

 .currency-exchange-wrapper.stop-animation {
   -webkit-animation-play-state: paused;
 }

 @keyframes slide {
   0% {
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
   }

   100% {
     -webkit-transform: translate3d(0, -100%, 0);
     transform: translate3d(0, -100%, 0);
   }
 }