.filter-content {
 // padding-top:0.938rem;
 min-height: calc( 100vh - 71.938rem);
  .section__header {
    height: 9.625rem;
    padding: 0 2.438rem 0 1.813rem; //2rem 2.438rem 1.563rem 1.813rem;
    margin: 0;
  }
  .slot-game-section {
    margin-top: 0;
  }
  .live-casino {
    margin-top: 0;
  }
  .hotel-casino  {
    margin-top: 0;
    .section__content {
      margin-top: 0;
    }
  }
}

.cont {
  padding: 0 1.875rem;
  // padding-bottom: 10rem;
}



.filter-content {
  .live-casino {
    .section__Title {
      margin-top: 1.25rem;
      h1 {
        margin-top: -0.188rem !important;
        margin-left: -0.25rem;
      }
    }
  }
  .slot-game-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
      img {
        margin-top: 0.125rem;
      }
    }
  }
  .hotel-casino {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
    }
    .section__icon {
      padding-top: 0;
    }
  }
  &.sport-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
    }
  }
  
  &.live-sport-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
    }
    .shared-card {
      .desc {
        top: 9.563rem;
        right: 4.5rem;
      } 
    }
  }
  &.e-sport-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
      img {
        margin-top: -0.5rem;
      }
    }
    .shared-card {
      .desc {
        top: 9.563rem;
        right: 4.438rem;
      }
    }
  }
  &.virtual-games-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
      h1 {
        margin-left: -0.063rem;
      }
    }
    .desc {
      right: 4.375rem;
    }
  }
  &.fishing-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: 0;
      h1 {
        margin-left: -0.125rem;
      }
    }
    .section__icon {
      width: 5.438rem;
    }
    .desc {
      right: 4.375rem;
    }
  }
  &.tibet-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
    }
    .section__icon {
      width: 5.5rem !important;
    }
    .desc {
      top: 9.5rem;
      right: 4.563rem;
    }
  }
  &.mini-games-section {
    .section__Title {
      margin-top: 1.063rem;
      margin-left: -0.063rem;
    }
  }
}


