.tab-container {
  position: relative;
  background-color: rgb(237, 237, 235);
  border-radius: 3.125rem;
  height: 6.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem;
  box-shadow: 0px 0px 0.625rem 0px rgba(0, 0, 0, 0.2);
  // .tab-line {
  //   position: absolute;
  //   height: 0.063rem;
  //   background-color: #c886d2;
  //   left: 2.875rem;
  //   right: 2.875rem;
  //   &.top {
  //     top: -0.063rem;
  //   }
  //   &.bottom {
  //     bottom: -0.063rem;
  //   }
  // }
  button {
    text-align: center;
    width: 23.813rem; //100%;
    border-radius: 2.75rem;
    height: 100%;
    background-color: rgb(237, 237, 235);
    color: rgb(94, 57, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      color: #fff;
      z-index: 2;
      background: transparent;
    }
    p {
      font-size: 2.813rem;
      margin: 0.25rem 0 0 0.125rem;
      line-height: 1;
      letter-spacing: -0.063rem;
      font-weight: bold;
      
    }
  }
}

.animated-tab {
  width: 23.813rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0.375rem;
  height: 5.5rem;
  border-radius: 2.75rem;
  background-image: linear-gradient(to right, rgb(223, 82, 255), rgb(107, 34, 255));
  z-index: 1;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}



