.sport-games-section {
  // margin-top: 0.25rem;
  margin-bottom: 1.188rem;
  .section__header {
      margin: 2.063rem 2.438rem 1.563rem 1.813rem;
    }
  .section__content {
      margin-top: -0.125rem;
      padding: 0 1.813rem 0 1.875rem;
  }
  .section__icon img {
    margin-left: 0;
  }
  .section__actions p {
    margin-top: -0.375rem;
  }
  .carousel {
    width: 76.063rem;
    height: 102%;
  }
  .section__slider1 {
    margin-top: 1.938rem !important;
    display: flex;
    justify-content: center;
  }
  .ButtonBack {
    left: -0.063rem;
  }
  .ButtonNext {
    right: 0;
  }
  .tab-container {
    button {
      &:nth-of-type(2) {
        p {
          margin-left: 0.125rem;
        }
      }

      &:nth-of-type(3) {
        p {
          margin-left: 0.313rem;
        }
      }
    }
  }
}

.sport-container {
  border-radius: 1.5rem;
  background-image:linear-gradient(to top,#432a7b,#7d17c4);
  box-shadow: 0 0.938rem 0.625rem 0 rgba(0, 0, 0, 0.3), inset 0 0.375rem 0 0 rgba(255, 255, 255, 0.3);
  width: 73.875rem;
  height: 34rem;
  display: flex;
  justify-content: center;
  //padding: 2.75rem 4.125rem;
}
.carousel,
.carousel__slider {
  height: 105%;
}

.sport-card {
  margin: 2.75rem 4.125rem;
  width: 65.563rem;
  height: 28.5rem;
  background-color: #ededeb;
  border-radius: 1.125rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.4);
  padding-top: 0.75rem;
  padding-right: 0;//0.813rem;
  padding-left: 0; //0.813rem;
  padding-bottom: 0.938rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .card__header {
    height: 6.188rem;
    border-radius: 0.75rem;
    background-image: linear-gradient(to right,#9d3bbb, #5423a0);
    display: flex;
    align-items: center;
    margin-left: 0.75rem;
    margin-right: 0.813rem;
    padding: 0 1.188rem;
    .header__icon {
      margin-right: 0.938rem;
      width: 3.938rem;
    }
    p {
      font-size: 2.813rem;
      font-family: 'SpoqaHanSansNeoBold';
      color: #fff;
      margin: 0;
      margin-left: -0.188rem;
      letter-spacing: -0.069rem;
      max-width: 43.75rem;
    }
  }
  
  .card__footer {
    display: flex;
    justify-content: space-between;
    //gap: 0.75rem;
    padding: 0 0.875rem 0 0.938rem;
    button {
      width: 100%;
      background-image: linear-gradient(to top, #4f3a7a 0%, #a05bf6 50%, #f0d3ff 100%);
      height: 6.188rem;
      padding:0.188rem;
      border-radius: 1.063rem;;
      overflow: hidden;
      box-shadow: 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.6);
      &:first-of-type {
        margin-right: 0.813rem;
      }
    
      &:nth-of-type(2) {
        margin-right: 0.688rem;
      }
      > div {
        padding: 0 1.813rem 0 1.875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 1.063rem;
        background-image: linear-gradient(to top, #491f9c, #9e3cbc); 
        .name {
          color: #ebabff;
          font-size: 2.25rem;
          font-family: 'SpoqaHanSansNeoMedium';
          margin-top: 0.125rem;
        }
        .score {
          color: #fff;
          font-size: 2.625rem;
          font-family: 'SpoqaHanSansNeoMedium';
          margin-top: 0.125rem;
        }
      }
    }

    
  }
  .card__content {
    display: flex;
    justify-content: center;
    margin: 0 0.875rem 0 0.938rem;
        
  }
}
.slider__content {
  display: flex;
  justify-content: center;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 17.313rem;
  padding-top: 0.813rem;
  img {
    width: 6.813rem //6.875rem;
  }
  p {
    margin-top: 1.188rem;
    margin-bottom: 0;
    text-align: center;
    color: #666666;
    font-size: 2.438rem;
    font-family: 'SpoqaHanSansNeoBold';
    letter-spacing: -0.025em;
    margin-right: 0.125rem;
  }
}
.vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20.75rem;
  
  .time {
    color: #828282 ;
    font-size: 2.25rem;
    font-family: 'SpoqaHanSansNeoMedium';
    margin-top: 0.375rem;
    letter-spacing: -0.025em;
  }
  p {
    margin-top: 0.125rem;
    margin-bottom: 0;
    margin-left: 0.063rem;
    color: #666666;
    font-size: 3.563rem;
    font-family: 'SpoqaHanSansNeoBold';
    text-align: center;
  }
}