.write {
    margin: auto;
    width: 73.875rem;
    border-radius: 1.3rem;

    .div-border {
        background: linear-gradient(to top,#ecebeb, #dbb0e8 50%, #cb78e6 );
        padding: 0.1875rem;
        border-radius: 1.3rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);

        .write-content {
            border-radius: 1.3rem;
            background: #ffffff;
            .input-div {
                height: 9.1875rem;
                border-bottom: 0.1875rem solid #dddddd;
                padding-left: 2.4875rem;
                background: #ffffff;
                border-top-left-radius: 1.3rem;
                border-top-right-radius: 1.3rem;

                input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: 0;
                    padding: 0;
                    border-top-left-radius: 1.3rem;
                    border-top-right-radius: 1.3rem;
                    background: bottom;
                    font-size: 2.999375rem;
                    // color: #666666;
                    color: #444444;
                    margin-top: 0.1rem;
                    // letter-spacing: -0.07rem;
                    letter-spacing: 0;
                }
                ::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #9da3b0;
                    opacity: 1;
                    /* Firefox */
                }
            }
        }
    }

    .small-radius{
        border-top-left-radius: 1rem !important;
        border-top-right-radius: 1rem !important;
    }
}

.popup-btn {
    width: 19.3125rem;
    border: none;
    height: 6.75rem;
    line-height: 6.75rem;
    text-align: center;
    vertical-align: bottom;
    // padding-top: 0.2rem;
    font-size: 2.624375rem;
    background-color: #5d659f;
    color: #ffffff;
    margin-top: 1.125rem;
    border-radius: 1rem;
    letter-spacing: -0.07rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding-top: 0.5rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    padding-right: 0.2rem;
    text-shadow: 0px 0px 0.938rem rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
}

.textarea {
    color: #888888;
    resize: none;
    word-break: keep-all;
    height: 100%;
    width: 100%;
    font-size: 2.81188rem;
    line-height: 1.78;
    background: bottom;
    border: 0;
    padding: 0;
    // letter-spacing: -0.07rem;
    letter-spacing: 0;
    font-family: "Malgun Gothic";
}

.placeholder-white {
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9da3b0;
        opacity: 1;
        /* Firefox */
    }
}

.two-buttons-container {
    width: 100%;
    display: flex;
    margin-left: 0.1rem;
    gap: 1.1rem;
    border-radius: 1rem;

    button {
        width: 49.3%;
        background: red;
        // background: linear-gradient(to top, #3e4d8f, #6394bc 50%, #87d8e7);
        background: #8458cd;
        border-radius: 1rem;
        margin-left: -0.1rem;
        margin-top: 3.57rem;
        margin-bottom: 17.75rem;
        font-size: 2.811875rem;

        span {
            // margin-top: 0.2rem;
            // letter-spacing: -0.07rem;
            letter-spacing: -0.025em;
            margin-right: -0.1rem;
            text-shadow: rgba(0, 0, 0, 0.5) 0 0 0.938rem;
        }
    }
}