.header {
    padding: 0 1.875rem ;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center !important;
    height: 8.625rem;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(rgb(240, 236, 255) 0%, rgb(202, 204, 255) 100%);
    background-repeat: no-repeat;
    z-index: 11;
    z-index: 201;
    position: relative;
    .header__image {
        height: 4.688rem;
        width: 19.063rem;
        margin-top: -0.063rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .header__navbar {
        margin-right: 0.063rem;
        margin-top: -0.063rem;
        .navbar__list {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            gap: 1.875rem;
            margin-right: -0.125rem;
            .navbar__item {
                cursor: pointer;
                position: relative;
                // height: 4.813rem;
                width: 5.813rem;
                height: 5.813rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.438rem;
                img {
                    max-width: 100%;
                }
                .badge {
                    position: absolute;
                    top: -0.813rem;
                    right: -0.938rem;
                }
                &:nth-child(3) {
                    margin-top: 0.063rem;
                }
            }
            .navbar__item2 {
                cursor: pointer;
                position: relative;
                // height: 4.813rem;
                width: 5.813rem;
                height: 5.813rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.438rem;
                img {
                    max-width: 100%;
                }
                .badge {
                    position: absolute;
                    top: -0.813rem;
                    right: -0.938rem;
                }
                &:nth-child(3) {
                    margin-top: 0.063rem;
                }
            }
        }
    }
}


.badge {
    display: flex;
    min-width: 3.438rem;
    height: 3.438rem;
    border-radius: 9999px;
    padding: 0rem 0.7rem;
    color: #fff;
    align-items: center;
    justify-content: center;
    span {
        font-size: 2.25rem;
        line-height: 1;
    }
    &--red {
        background-color: rgb(240, 66, 129);
    }

}
