@keyframes banneranimation {
  0% {
    left: 65.25rem;
  }

  100% {
    left: -51.25rem;
  }
}

.notice-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.813rem;
  height: 4.688rem;
  background-color: rgb(45, 40, 52);
  box-shadow: 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
  .notice-banner__icon{
    height: 2.813rem;
    margin-top: 0.063rem;
    img {
      height: 100%;
    }
  }
  .notice-banner__content {
    font-size: 2.625rem;
    color: rgb(220, 213, 211);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    margin-left: 1rem;
      span {
        flex-grow: 1;
        letter-spacing: -0.025em;
        margin-top: 0.5rem;
        -webkit-animation: banneranimation 10s infinite;
        animation: banneranimation 10s infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        position: relative;
      }
  }
}


