.history-menu-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 16rem;
}

.tabslistspeedkino-container {
    display: flex;
    width: 100%;
}

.tabslistspeedkino {
    background: #6852a7;
}

.tabslistspeedkino1 {
    background: #ffffff;
    border: 0.1875rem solid #aaaaaa;
}

.tabslistspeedkino2 {
    width: 50%;
    border-radius: 3rem;
    letter-spacing: -0.07rem;
    padding-right: 0.4rem;
}

.tabslistspeedkino3 {
    color: #ffffff;
    font-weight: 700;
}

.tabslistspeedkino4 {
    color: #666666;
    font-weight: 700;
}

.tabslistspeedkino5 {
}

.speedkino-path {
    margin-top: 2rem;
    letter-spacing: -0.025em;
    color: #666666;
    font-weight: 700;

    .speedkino-path1 {
        display: flex;
        width: 100%;

        .speedkino-path2 {
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            background-color: #eeeeee;
        }
    }
}

.cells-speedkino {
    width: 100%;
    font-size: 14px;
    letter-spacing: -0.025em;
}

.speedkino-sum {
    margin-top: 2rem;
    letter-spacing: -0.025em;
    color: #666666;
    font-weight: 700;

    .speedkino-sum1 {
        display: flex;
        width: 100%;

        .speedkino-sum2 {
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            background-color: #eeeeee;
        }
    }
}

.cells-speedkino1 {
    width: 100%;
    font-size: 14px;
    letter-spacing: -0.025em;
}

.container-cells {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom-style: solid;
    border-color: #dddddd;
    letter-spacing: -0.025em;
    color: #666666;

    .content-cells {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;

        .content-cells1 {
            position: relative;
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            padding-top: 0.3rem;
            padding-right: 0.2rem;
            letter-spacing: -0.025em;
            color: rgba(255, 255, 255, 1);

            .content-cells2 {
                padding-bottom: 0.25rem;
                margin: 0;
            }

            .content-cells3 {
                position: absolute;
                border-radius: 9999px;
                background-color: rgba(0, 0, 0, 1);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}