.footer-container {

  background-color: #19162e;
  padding-bottom: 15.375rem;
  .carousel__inner-slide {
    display: flex;
    justify-content: center;
    margin-left: -0.625rem;
  }
  .ButtonBack {
    left: 0.313rem;
    top: 7.875rem!important;
  }
  .ButtonNext {
    right: 0.188rem;
    top: 7.875rem !important;
  }
  .footer {
    .slider__container {
      margin-top: 0;
    }
    .brands {
      background-color: #19162e;
      height: 23.563rem;
      padding-top: 3.813rem;
      .brands-cont {
        max-width: 1242px;
        margin: auto;
        padding: 0 1.875rem;
        height: 100%;
      }
      img {
        width: 55.813rem;
      }
      .carousel {
        display: flex;
        //align-items: center;
      }
    }
        .ButtonBack,
        .ButtonNext {
          width: 4.875rem;
          height: 14.25rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          opacity: .8;
          background-color: unset !important;
          border-radius: 1.125rem;
          box-shadow: none !important;
    
          img {
            width: 2.5rem;
            height: 3.938rem
          }
        }
  }
}
.footer-navs {
background-color: #221e3f;
}
.toggle-list {
  max-width: 1242px;
  margin: auto;
  padding: 0.688rem 6.938rem 0.625rem;
}


.winner-footer {
  background-color: #19162e;
  padding: 4.688rem;
  .container {
    max-width: 1242px;
    margin: auto;
    padding-top: 2.875rem;
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 3.5rem;
      height: 4.688rem;
    }
    .contact__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 57.938rem;
      margin: auto;
    }
    .contact__item {
      display: flex;
      align-items: center;
      width: 33.33%;

      &.support-icon {
        width: 30%;
        margin-left: 3px;
        img {
          width: 4.313rem
        }
      }
      &.telegram-icon {
        width: 35%;
        img {
          width: 7.25rem
        }
      }
      &.talk-icon {
        width: 33%;
        img {
          width: 7.25rem;
          margin-left: -2px;
        }
      }
      
      p {
        margin-left: 0.875rem;
        color: #fff;
        font-size: 2.625rem;
        font-family: 'SpoqaHanSansNeo';
        line-height: 1;
      }
    }
  }
}
.payment {
  display: flex;
  justify-content: center;
  margin-bottom: 4.375rem;
  background-color: #19162e;
  padding: 1.625rem 0 0.563rem;
  img {
    width: 66rem;
  }
}
.h-line {
  background-color: #3f3e41;
  width: 63.75rem;
  height: 0.188rem;
  margin: 6.938rem auto;
}
p.copy-write {
  background-color: #19162e;
  margin: 0;
  text-align: center;
  color: #7f7d9c;
  font-size: 2.625rem;
  font-family: 'SpoqaHanSansNeo';
  
}
