
button.collapse {
  width: 100%;
  background-color: inherit;
  &:not(:first-child) {
    border-top: 0.188rem solid #3c3b43;
  }
}

.collapse__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 12.5rem;
  height: 12.438rem;
  padding-top: 0.25rem;

}

.collapse__title {
  color: #a4a1c5;
  font-size: 3rem;
  font-family: 'SpoqaHanSansNeo';
  letter-spacing: -.07rem;
}

.collapse__icon img {
  width: 3.875rem
}

.collapse__body {
  margin-top: 2.688rem;
  color: #c8c8c8;
  font-size: 2.813rem;
  font-family: 'SpoqaHanSansNeo';
  letter-spacing: -.07rem;
  margin: 0 0 0 1.125rem;
  text-align: left;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  div {
    margin-bottom: 1.688rem;
    line-height: 1;
  }
}

.collapse.expanded {
  border-top-width: 0;
  .collapse__header {
    height: 11.625rem;
    padding-top: 2.5rem;
  }
  .collapse__body {
    margin-top: -0.625rem;
    margin-bottom: 3.25rem;
  }
}

