
button.collapse {
  width: 100%;
  background-color: inherit;
  &:not(:last-child) {
    border-bottom: 0.188rem solid #3c3b43;
  }
  

  .collapse__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12.438rem;
    // padding-top: 0.313rem;

  }

  p.collapse__title {
    color: #a4a1c5;
    font-weight: bold;
    font-size: 3rem;
    // letter-spacing: -0.025em;
    letter-spacing : 0;
    margin: 0;
    margin-left: -0.25rem;
    padding-top: 0.313rem;
  }

  .collapse__icon {
    width: 3.875rem;
    height: 3.875rem;
    img {
      width: 3.875rem;
      height: 3.875rem;
      margin-left: -0.063rem;
    }
  }

  .collapse__body {
    margin-top: 2.688rem;
    color: #c8c8c8;
    font-size: 2.813rem;
    letter-spacing: -.07rem;
    margin: 0 0 0 1.125rem;
    text-align: left;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    div {
      margin-bottom: 1.688rem;
      line-height: 1;
      letter-spacing : 0;
    }
  }


  &:nth-of-type(2) {
    p.collapse__title {
      margin-top: 0.188rem;
    }
  }
  &:nth-of-type(4) {
    p.collapse__title {
      margin-top: -0.188rem;
    }
    .collapse__icon img {
      //margin-top: -0.188rem;
    }
  }
    &:nth-of-type(5) {
      p.collapse__title {
        margin-top: -0.375rem;
      }
  
      .collapse__icon img {
       // margin-top: -0.375rem;
      }
    }
    &:nth-of-type(6) {
      p.collapse__title {
        margin-top: -0.563rem;
      }

      .collapse__icon img {
        //margin-top: -0.563rem;
      }
    }
}

.collapse.expanded {
  border-top-width: 0;
  .collapse__body {
    margin-top: -2.125rem;
    margin-bottom: 3.25rem;
  }
}


