.confirm-popup {
  width: 72.75rem;
  
  .header p {
    margin-top: 0.063rem;
    letter-spacing: initial;
    margin-left: 0;
  }
  .close {
    right: 2.938rem;
  }
  .confirm-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3.75rem 0 3.313rem;
    img {
      width: 14.688rem;
    }
  }
  div {
    text-align: center;
    color: #666666;
    margin: 0;
    &.confirm-title {
      font-size: 3.2rem;
      // margin-bottom: 4.875rem;
      margin-bottom: 2.0rem;
      letter-spacing: -0.005em;
      font-weight: bold;
    }
   
    .primary-color {
      color: #682aa7;
    }
    .secondary-color {
      color: #ec1676;
    }
  }
  .confirm-desc {
    p {
      font-size: 2.825rem;
      letter-spacing: -0.005em;
      margin: 0;
      margin-left: 0.875rem;
      line-height: 3.6rem;
      color: #444;
      &:nth-of-type(2) {
        margin-left: 0.25rem;
      }
    }
    &:first-of-type {
      margin-bottom: 2.875rem;
    }
  }
  .modal-actions{
    margin-top: 6.438rem;
  }
  .modal-actions button {
    width: 56.625rem;
    height: 8.438rem;
    letter-spacing: -0.025em;
  }
  .modal-body {
    padding-bottom: 8.438rem;
  }
}
.ml-0 {
  margin-left: 0!important;
}
.boxes {
  //width: 58.688rem;
  display: flex;
  justify-content: center;
  margin: 5.5rem auto 4.875rem auto ;
  .box {
    width: 19.313rem;
    background-color: rgb(155, 107, 212);
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem 0 1.125rem ;
    flex-shrink: 0;
    flex-grow: 0;
    &:first-child {
      img {
        margin-left: 0.063rem;
      }
    }
    &:nth-child(2) {
      margin-left: 0.375rem;
    }
    &:nth-child(3) {
      margin-left: 0.438rem;
      img {
        margin-left: 0.375rem;
      }
    }
    img {
      width: 7.688rem;
    }
    .box-des {
      margin-top: 1.688rem;
      p {
        margin: 0;
        color: #fff;
        font-size: 1.875rem;
        line-height: 2rem;
        letter-spacing: -0.029em;
        align-items: center;
      }
    }
    
  }
}
.mb-46 {
 margin-bottom: 2.875rem !important; 
}
.-mt-1 {
  margin-top: -0.063rem !important;
}
.ml-1 {
  margin-left: 0.063rem !important;
}
